<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SimpleEmpInfoServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="SimpleEmpInfoServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://itec-web-dev04.radford.edu/ews/SimpleEmpInfoService.asmx"
                binding="basicHttpBinding" bindingConfiguration="SimpleEmpInfoServiceSoap"
                contract="EIS.SimpleEmpInfoServiceSoap" name="SimpleEmpInfoServiceSoap" />
            <endpoint address="http://itec-web-dev04.radford.edu/ews/SimpleEmpInfoService.asmx"
                binding="customBinding" bindingConfiguration="SimpleEmpInfoServiceSoap12"
                contract="EIS.SimpleEmpInfoServiceSoap" name="SimpleEmpInfoServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>